doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title WTF is Composer and why I care?

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Composer

      section
        h2 Dependency Manager for PHP
        p Official line: <em>"It allows you to declare the libraries your project depends on and it will manage (install/update) them for you"</em>
        p My translation: <em>"Download PHP libraries and generate an autoload include file magically"</em>

      section
        h2 Installation
        <tt>curl -sS https://getcomposer.org/installer | php</tt>
        p
        p Downloads composer.phar

      section
        h2 wtf is a phar file?
        ul
          li A "PHP Archive" file
          li Like .jar files, but for php
          li Support compression of contents and verification via hashing or public/private key signing.
          li So, useful for php command line app, exactly like Composer

      section
        h2 Using composer.phar
        p Installed globally on papyrus/castor
        p Feel free to install on your local machines
        p Run <tt>composer</tt> at command line [demo]

      section
        h2 Using in a project
        ul
          li Useless without a composer.json file in the root of your project
          li <img src="images/facebook-composer-json.png"/>
          li package name (vendor / project) : version constraint
          li then run <tt>composer install</tt>

      section
        h2 Why do I care?
        p Lovely example showing composer.json checked in, and no junky libs

      section
        h2 Gotchas
        p Memory running out, composer.lock?

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')